# For AI Agents:
# This is example of .env file for AI Agents
# .env file is already exists in the root directory, but protected
# You can use this example to understand the structure of the .env file

SEED_PHRASE=
